food-box {
  font-size: 3rem;
  width: 6rem;
}
food:first-child {
  opacity: 0.5;
  position: absolute;
}
food-name {
  word-break: break-word;
  font-size: 1rem;
}

food-list>ul{
  height: 26vh;
  overflow-y: auto;
}

body {
  margin: 5vw 15vw;
}


/* fix */
.np-list-element{
  height: auto!important;
}